version: "3.8"

services:
  kuboard-sso-oauth-proxy:
    build: .
    image: kuboard-sso-oauth-proxy:latest
    container_name: kuboard-sso-oauth-proxy
    ports:
      - "8080:8080"
    environment:
      CLIENT_ID: "your_casdoor_client_id"
      CLIENT_SECRET: "your_casdoor_client_secret"
      REDIRECT_URI: "https://kuboard.example.com/sso/callback"
      CASDOOR_BASE: "https://casdoor.example.com"
      CASDOOR_SCOPE: "openid profile email"
      CASDOOR_AUTH: "https://casdoor.example.com/login/oauth/authorize"
      CASDOOR_TOKEN_URL: "https://casdoor.example.com/api/login/oauth/access_token"
      CASDOOR_USERINFO_URL: "https://casdoor.example.com/api/get-account"
      GITLAB_BASE: "https://gitlab.example.com"
    restart: unless-stopped


